<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Editor</title>
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
<body class>

    <h1 class="title">Document Title</h1>

    <form action = "" method="post" class="symbol-array">
        <input name="docID" value="{{query}}">
        <button name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
    </form>
    
    <form action = "" method="post" class="container">
        <input name="docID" value="{{query}}">
        <textarea class="edit-box" name="edit-box" id="" cols="30" rows="10" >
            </textarea>
        <button name="submit-button" type="submit" value="save">Save changes</button>
    </form>
    
</body>
</html>