<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Editor</title>
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
<body background="{{ url_for('static',filename='resources/background.jpg') }}" style="width: 90%; align-items: center; margin-left: 5%;">
    <div>
        <h3 style="text-align: right; padding-right: 32px;">{{user.username}}</h1>
    </div>
    <h1 class="title" id="titleBox" contenteditable="true">{{theDoc.name}}</h1>

    <div style="padding-left: 32px;">
        <input id="fontBox" type="number" placeholder="Font: 12px">
    </div>
    <select id="dropdown" style="margin-left: 32px;">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
    </select>
    <br>
    
    <div class="symbol-array">
        <button class="btn" onclick="appendMath('>');" name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button class="btn" onclick="appendMath('Σ');" name="greater-than-button" symbol value="Σ" type="submit"> Σ </button>
        <button class="btn" onclick="appendMath('β');" name="greater-than-button" symbol value="β" type="submit"> β </button>
        <button class="btn" onclick="appendMath('α');" name="greater-than-button" symbol value="α" type="submit"> α </button>
        <button class="btn" onclick="appendMath('>');" name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button class="btn" onclick="appendMath('>');" name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button class="btn" onclick="appendMath('>');" name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button class="btn" onclick="appendMath('Σ');" name="greater-than-button" symbol value="Σ" type="submit"> Σ </button>
        <button class="btn" onclick="appendMath('β');" name="greater-than-button" symbol value="β" type="submit"> β </button>
        <button class="btn" onclick="appendMath('α');" name="greater-than-button" symbol value="α" type="submit"> α </button>
        <button class="btn" onclick="appendMath('>');" name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button class="btn" onclick="appendMath('>');" name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button class="btn" onclick="appendMath('>');" name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button class="btn" onclick="appendMath('Σ');" name="greater-than-button" symbol value="Σ" type="submit"> Σ </button>
        <button class="btn" onclick="appendMath('β');" name="greater-than-button" symbol value="β" type="submit"> β </button>
        <button class="btn" onclick="appendMath('α');" name="greater-than-button" symbol value="α" type="submit"> α </button>
        <button class="btn" onclick="appendMath('>');" name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button class="btn" onclick="appendMath('>');" name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
    </div>
    
    <form action = "" method="post" class="container">
        <input style="display: none;" name="docID" value="{{query}}">
        <!-- vscode-html-ignore-next -->
        <textarea class="edit-box" name="edit-box" id="edit-box" cols="30" rows="10">{{write}}</textarea>
        <button class="savebtn" name="submit-button" type="submit" value="save">Save changes</button>
    </form>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script>
    titleBox = document.getElementById("titleBox");
    fontbox = document.getElementById("fontBox");
    editor = document.getElementById("edit-box");

    window.onload = function() {
        console.log("INIT!")
        editor.style.fontSize = String('{{theDoc.font_size}}') + "px";
    }

    function appendMath(math) {
        editor.value += math;
    }

    titleBox.addEventListener("keydown", function (e) {
        if (e.keyCode === 13) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{{ url_for('views.update_title')  }}",
                data: {"docID" : "{{query}}", "title" : titleBox.textContent}
            })
            titleBox.blur();
    }
    });

    fontbox.addEventListener("keydown", function (e) {
        if (e.keyCode === 13) {
            $.ajax({
                type: "POST",
                url: "{{ url_for('views.update_font_size')  }}",
                data: {"docID" : "{{query}}", "fontSize" : fontbox.value}
            })
            console.log("Updated Font Size")
            editor.style.fontSize = String(fontbox.value) + "px";
            fontbox.blur();
        }
    })
</script>