<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Editor</title>
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
<body background="{{ url_for('static',filename='resources/background.jpg') }}" style="width: 100%; align-items: center; margin-left: 0%;">
    <header>
        <nav class="navbar">
            <div class="logo">
                <!-- Placeholder for website logo -->
                <img class = "profile-icon" style = "margin-left: 120px" src="{{ url_for('static',filename='resources/ninja-logo.png') }}" alt="">
            </div>
            <ul class="nav-links">
                <li><a href="/">My Files</a></li>
                <!--<li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>--->
            </ul>
            <div class="profile-icon">
                <!-- Placeholder for profile icon -->
                <img style = "display:inline-block; padding-top: 2px; margin-left: 800px; width: 60px;" src="{{ url_for('static',filename='resources/user_icon.png') }}" alt="">
            </div>
            
            <h3 style="display:inline-block; margin-left: 0px; text-align: right; padding-left: 30px; padding-right: 10px; color: aliceblue; font-size: 2pc;">{{user.username}}</h1>
        
            </nav>
</header>
    <h1 class="title" id="titleBox" contenteditable="true">{{theDoc.name}}</h1>

    <div class="symbol-array">
    <div style="padding-left: 8px;">
        <input id="fontSizeBox" type="number" placeholder="Font: 12px" style="width:167px">
    </div>
    <select class = "dropdown" id="fontBox" style="margin-left: 8px;">
        <option class = "dropdown-btn" onclick="updateFont('Times, serif')" value="Times, serif">Times</option>
        <option class = "dropdown-btn" onclick="updateFont('Arial, serif')" value="Arial, serif">Arial</option>
        <option class = "dropdown-btn" onclick="updateFont('Courier New, serif')" value="Courier New, serif">Courier New</option>
    </select>
    <select class = "dropdown" id="alignBox">
        <option class = "dropdown-btn" onclick="updateAlign('left')" value="left">Left</option>
        <option class = "dropdown-btn" onclick="updateAlign('right')" value="right">Right</option>
        <option class = "dropdown-btn" onclick="updateAlign('center')" value="center">Center</option>
        <option class = "dropdown-btn" onclick="updateAlign('justify')" value="justify">Block</option>
    </select>
    <br>
    
    
        <button class="btn" onclick="appendMath('>');" name="greater-than-button" symbol value=">" type="submit"> &gt; </button>
        <button class="btn" onclick="appendMath('Σ');" name="greater-than-button" symbol value="Σ" type="submit"> Σ </button>
        <button class="btn" onclick="appendMath('β');" name="greater-than-button" symbol value="β" type="submit"> β </button>
        <button class="btn" onclick="appendMath('α');" name="greater-than-button" symbol value="α" type="submit"> α </button>
        <button class="btn" onclick="appendMath('≠');" name="greater-than-button" symbol value=">" type="submit"> ≠ </button>
        <button class="btn" onclick="appendMath('≈');" name="greater-than-button" symbol value=">" type="submit"> ≈ </button>
        <button class="btn" onclick="appendMath('≥');" name="greater-than-button" symbol value=">" type="submit"> ≥ </button>
        <button class="btn" onclick="appendMath('≤');" name="greater-than-button" symbol value="Σ" type="submit"> ≤ </button>
        <button class="btn" onclick="appendMath('±');" name="greater-than-button" symbol value="β" type="submit"> ± </button>
        <button class="btn" onclick="appendMath('±');" name="greater-than-button" symbol value="α" type="submit"> ± </button>
        <button class="btn" onclick="appendMath('×');" name="greater-than-button" symbol value=">" type="submit"> × </button>
        <button class="btn" onclick="appendMath('n√a');" name="greater-than-button" symbol value=">" type="submit"> n√a </button>
    </div>
    
    <form action = "" method="post" class="container">
        <input style="display: none;" name="docID" value="{{query}}">
        <!-- vscode-html-ignore-next -->
        <textarea class="edit-box" name="edit-box" id="edit-box" cols="30" rows="10" spellcheck="false">{{write}}</textarea>
        <button class="savebtn" name="submit-button" type="submit" value="save">Save Changes</button>
    </form>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script>
    titleBox = document.getElementById("titleBox");
    fontSizeBox = document.getElementById("fontSizeBox");
    fontBox = document.getElementById("fontBox");
    alignBox = document.getElementById("alignBox");
    editor = document.getElementById("edit-box");

    setInterval(updateText, 10000); // Updates every 10 seconds

    function updateText() {
        $.ajax({
            type: "POST",
            url: "{{ url_for('views.show_editor')  }}",
            data: {"docID" : "{{query}}", "edit-box" : editor.value}
        })
    }

    window.onload = function() {
        console.log("INIT!")
        editor.style.fontSize = String('{{theDoc.font_size}}') + "px";
        editor.style.fontFamily = '{{theDoc.font}}'
        if(editor.value == 'None') {
            editor.value = '';
        }
        editor.style.textAlign = '{{theDoc.align}}'

        fontBox.value = '{{theDoc.font}}'
        alignBox.value = '{{theDoc.align}}'
        fontSizeBox.value ='{{theDoc.font_size}}';
    }  

    function appendMath(math) {
        editor.value += math;
    }

    function updateFont(font) {
        editor.style.fontFamily = font;

        $.ajax({
            type: "POST",
            url: "{{ url_for('views.update_font')  }}",
            data: {"docID" : "{{query}}", "font" : font}
        })
    }

    function updateAlign(align) {
        editor.style.textAlign = align;

        $.ajax({
            type: "POST",
            url: "{{ url_for('views.update_align')  }}",
            data: {"docID" : "{{query}}", "align" : align}
        })
    }
    
    editor.addEventListener("keydown", function (e) {
        if (e.key === 'Tab') {
            event.preventDefault();
            editor.value += '\t';
    }
    });

    titleBox.addEventListener("keydown", function (e) {
        if (e.keyCode === 13) {
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "{{ url_for('views.update_title')  }}",
                data: {"docID" : "{{query}}", "title" : titleBox.textContent}
            })
            titleBox.blur();
    }
    });

    fontSizeBox.addEventListener("keydown", function (e) {
        if (e.keyCode === 13) {
            if(fontSizeBox.value == '') {
                fontSizeBox.value ='12';
            }

            $.ajax({
                type: "POST",
                url: "{{ url_for('views.update_font_size')  }}",
                data: {"docID" : "{{query}}", "fontSize" : fontSizeBox.value}
            })
            console.log("Updated Font Size")
            editor.style.fontSize = String(fontSizeBox.value) + "px";
            fontSizeBox.blur();
        }
    })

    fontSizeBox.addEventListener("change", function() {
        $.ajax({
            type: "POST",
            url: "{{ url_for('views.update_font_size')  }}",
            data: {"docID" : "{{query}}", "fontSize" : fontSizeBox.value}
        })
        console.log("Updated Font Size")
        editor.style.fontSize = String(fontSizeBox.value) + "px";
        fontSizeBox.blur();
    })

</script>