<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body background="{{ url_for('static',filename='resources/background.jpg') }}" style="width: 100%; align-items: center; margin-left: 0">
    <nav class="navbar" style="background-color: #089ee4;">
        <div class="logo">
            <!-- Placeholder for website logo -->
            <img class = "profile-icon" style = "margin-left: 50px; width: 80px;" src="{{ url_for('static',filename='resources/ninja-logo.png') }}" alt="">
        </div>
        <ul class="nav-links">
            <!--<li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>--->
        </ul>
        <div class="profile-icon" style="display: flexbox;">
            <!-- Placeholder for profile icon -->
            <h3 id="hero" style="float: right; margin-left: 0px; margin-right: 10px; margin-top: 10px; text-align: right; padding-left: 20px; color: aliceblue; font-size: 2pc;">{{user.username}}</h3>
            <img id="pfp" style = "display:inline-block; padding-top: 2px; margin-left: 1000px; width: 60px;" src="{{ url_for('static',filename='resources/user_icon.png') }}" alt="">
        </div>
    
        </nav>
    <!--Smith Island Cake-->
    <!--button for creating new file-->
    <!--table to store file names and buttons-->
    <div class="title">
        <h1 style="text-align: center; padding-top: 10px;">Welcome {{user.username}}!</h1>
    </div>
    <br><br>
    <form method="POST">
        <button class="btn btn-primary" style="float:left; margin-left: 25px;" name="submitType" value="create">Create New File</button>
    </form>
    <a href="/logout"class="btn btn-primary" style="float:right; margin-right: 25px;">Logout</a>
   
    <table style="margin-left: 25px; margin-right: 25px;"class="table">
       
        <h1 style="text-align: center;">My Files</h1>
        <thead>
            <tr>
                <td>
                    FILENAME
                </td>
                <td>
                    METADATA
                </td>
                <td>
                    BUTTONS
                </td>
            </tr>

            <div style="float: right; margin-right: 25px;">
                <form method="POST">
                    <select id="filterBox" name="filterType">
                        <option name="filterType" value="All">All</option>
                        <option name="filterType" value="Homework">Homework</option>
                        <option name="filterType" value="Lecture Notes">Lecture Notes</option>
                        <option name="filterType" value="Important">Important</option>
                    </select>
                    <button type="submit" class="btn btn-primary" name="submitType" value="filter">Apply Filter</button>
                </form>
            </div>
            
        </thead>
        <tbody>
            {% for Document in query %}

            <tr>
                <td>
                    {{Document.name}}
                </td>
                <td>
                    Date Modfied: 
                    {{Document.date}}
                </td>
                <td>
                    <input type="hidden">

                    <form method="POST">
                        <select id="tagBox">
                            <option disabled selected value="{{Document.tag}}">{{Document.tag}}</option>
                            <option onclick="updateTag('No Tag', '{{Document.id}}')" value="No Tag">No Tag</option>
                            <option onclick="updateTag('Homework', '{{Document.id}}')" value="Homework">Homework</option>
                            <option onclick="updateTag('Lecture Notes', '{{Document.id}}')" value="Lecture Notes">Lecture Notes</option>
                            <option onclick="updateTag('Important', '{{Document.id}}')" value="Important">Important</option>
                        </select>
                        <input name="docID" value="{{Document.id}}" style="display: none;">
                        <button type="submit" class="btn btn-primary" name="submitType" value="edit">Edit</button>
                        <button type="submit" class="btn btn-danger" name="submitType" value="delete">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                <div role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>

<script>
    tagBox = document.getElementById("tagBox")
    pfp = document.getElementById("pfp")
    hero = document.getElementById("hero")

    pfp.addEventListener("click", function() {
        window.location.href = '/profile';
    })

    hero.addEventListener("click", function() {
        window.location.href = '/profile';
    })


    function updateTag(tag, id) {
        $.ajax({
            type: "POST",
            url: "{{ url_for('views.update_tag')  }}",
            data: {"docID" : id, "tag" : tag}
        })
    }
</script>