<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
    <title>Register</title>
</head>
<body background="{{ url_for('static',filename='resources/background.jpg') }}">
    <form method="POST" class="registration-form">
        <img src="{{ url_for('static',filename='resources/user_icon.png') }}">
        <h1>Register</h1>
        <label for="username" style="margin-left: 20px; float: left; font-size: small; margin-bottom: 0%;">Username</label><br>
        <input name="username" label="username" type="text" class="input-box" placeholder="username">
        <label for="email" style="margin-left: 20px; float: left; font-size: small;">Email</label><br>
        <input name="email" type="email" class="input-box" placeholder="user@domain.com">
        <label for="password" style="margin-left: 20px; float: left; font-size: small;">Password</label><br>
        <input name="password" type="password" class="input-box" placeholder="*******">
        <label for="confirm_password" style="margin-left: 20px; float: left; font-size: small;">Confirm Password</label><br>
        <input name="confirm_password" type="password" class="input-box" placeholder="*******">
        <button type="submit" class="signup-button" style="display: block; margin: auto; margin-top: 4%; margin-bottom: 4%;"><strong>Create Your Account</strong></button>
        <p style="display: inline; color: #fff; font-size: small;">Already have an account?</p>
        <a href="/login" style="display: inline; color: #fff; font-size: small;">Sign in</a>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                <div role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
