<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='styles/styles.css') }}" rel="stylesheet">
    <title>Reset Password</title>
</head>
<body background="{{ url_for('static',filename='resources/background.jpg') }}">
    <form method="POST" class="registration-form">
        <img src="{{ url_for('static',filename='resources/user_icon.png') }}">
        <h1>Reset Password</h1>
        <label for="email" style="margin-left: 10px; float: left; font-size: small; margin-bottom: 0%;">Email</label>
        <input name="email" type="email" class="input-box" placeholder="user@domain.com">
        <button type="submit" class="signup-button"><strong>Submit</strong></button>
        <br>
        <p style="display: inline; color: #fff; font-size: small;">Don't have an account?</p>
        <a href="/sign-up" style="display: inline; color: #fff; font-size: small;">Sign up</a>
        <br>
        <p style="display: inline; color: #fff; font-size: small;">Already have an account?</p>
        <a href="/login" style="display: inline; color: #fff; font-size: small;">Sign in</a>
    </form>
    <!--{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
            <div role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}-->
</body>
</html>